In [1]:
print("hello worldsss")

hello world

In [2]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.13/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

## SERIES

In [3]:
import pandas as pd

In [4]:
data = [1,2,3,4,5]
s = pd.Series(data)

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
# with dictionary 

dict = {"a":12,"b":13,"c":34}
s = pd.Series(dict)
print(s)

a    12
b    13
c    34
dtype: int64

In [6]:
#series iwth custom index

col1 =  [1,2,3,4,5]
col2 = ["hihi","huhu","heyhey","haha","htht"]

s = pd.Series(col2,index=col1)
print(s)

1      hihi
2      huhu
3    heyhey
4      haha
5      htht
dtype: object

In [7]:
type(s)

pandas.core.series.Series

## DATAFRAME

In [8]:
# 2d means which has rows and columns ... in pandas ,Data frame is a chunk of dataset or can be a entire dataset.
# in pandas , 2d array is called a DATAFRAME

In [9]:
a = {
    "Name":["ROhan","Anjali","Jarvis"],
    "class":[11,12,11],
    "age":[22,22,21]
    }
s= pd.DataFrame(a)
print(s)

     Name  class  age
0   ROhan     11   22
1  Anjali     12   22
2  Jarvis     11   21

In [10]:
dict =[
    {"name":"Rohan","age":23,"class":"AIDS"},
    {"name":"Robin","age":23,"class":"MBA"},
    {"name":"Angel","age":22,"class":"AIDS"}
]
s = pd.DataFrame(dict)
print(s)

    name  age class
0  Rohan   23  AIDS
1  Robin   23   MBA
2  Angel   22  AIDS

In [11]:
pip install numpy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: numpy in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (2.3.4)
Note: you may need to restart the kernel to use updated packages.

In [54]:
import numpy as np

In [14]:
arr = np.array([
    [1,2,3],
    [4,5,6],
    [7,8,9]
])
s = pd.DataFrame(arr,columns=["A","B","c"])
print(s)

   A  B  c
0  1  2  3
1  4  5  6
2  7  8  9

In [20]:
df = pd.read_csv("NetflixOriginals.csv", encoding="latin1")
df

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi
...,...,...,...,...,...,...
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [21]:
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi

In [22]:
df.tail()

,Title,Genre,Premiere,Runtime,IMDB Score,Language
579,Taylor Swift: Reputation Stadium Tour,Concert Film,"December 31, 2018",125,8.4,English
580,Winter on Fire: Ukraine's Fight for Freedom,Documentary,"October 9, 2015",91,8.4,English/Ukranian/Russian
581,Springsteen on Broadway,One-man show,"December 16, 2018",153,8.5,English
582,Emicida: AmarElo - It's All For Yesterday,Documentary,"December 8, 2020",89,8.6,Portuguese
583,David Attenborough: A Life on Our Planet,Documentary,"October 4, 2020",83,9.0,English

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 584 entries, 0 to 583
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Title       584 non-null    object
 1   Genre       584 non-null    object
 2   Premiere    584 non-null    object
 3   Runtime     584 non-null    int64
 4   IMDB Score  584 non-null    float64
 5   Language    584 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 27.5+ KB

In [24]:
df.describe()

          Runtime  IMDB Score
count  584.000000  584.000000
mean    93.577055    6.271747
std     27.761683    0.979256
min      4.000000    2.500000
25%     86.000000    5.700000
50%     97.000000    6.350000
75%    108.000000    7.000000
max    209.000000    9.000000

In [ ]:
df[["Title","IMDB Score"]] ## always display the columns in square brackets , if i do ["title"] ... 
#this will display without the lable(title)..hence its 1D... but if i write [["title"]]... itll give lable ..hence 2d

                                           Title  IMDB Score
0                                Enter the Anime         2.5
1                                    Dark Forces         2.6
2                                        The App         2.6
3                                 The Open House         3.2
4                                    Kaali Khuhi         3.4
..                                           ...         ...
579        Taylor Swift: Reputation Stadium Tour         8.4
580  Winter on Fire: Ukraine's Fight for Freedom         8.4
581                      Springsteen on Broadway         8.5
582    Emicida: AmarElo - It's All For Yesterday         8.6
583     David Attenborough: A Life on Our Planet         9.0

[584 rows x 2 columns]

## .loc ( index based)
### used to locate specific rows or element by index

In [58]:

df.loc[1]

Title                    Dark Forces
Genre                       Thriller
Premiere             August 21, 2020
Runtime                           81
IMDB Score                       2.6
Language                     Spanish
country                           us
imdb+5                           7.6
multiplied column              615.6
random                            48
Name: 1, dtype: object

In [ ]:
df.loc[0:2]  # shows first 3

,Title,Genre,Premiere,Runtime,IMDB Score,Language
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English

In [ ]:
df.loc[0:2,["Title","IMDB Score"]]   # shows title and imdb score of 0,1,2 indexed rows

             Title  IMDB Score
0  Enter the Anime         2.5
1      Dark Forces         2.6
2          The App         2.6

## iloc ( position based)
##### shows the location regardless of index ... we pass [position], it'll give the position as per rows

In [ ]:
df.iloc[2]     #whatever is present at 3rd row ... bcz we arent working with lables

Title                       The App
Genre         Science fiction/Drama
Premiere          December 26, 2019
Runtime                          79
IMDB Score                      2.6
Language                    Italian
Name: 2, dtype: object

### helpful when indexes are abc... or something else which will be diffcult for us to call one by one ... then calling positions will give simply rows

## adding new rows

In [49]:
df["country"]="us"
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language,country
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,us
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,us
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,us
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,us
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,us

In [51]:
df["imdb+5"]= df["IMDB Score"] +5
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language,country,imdb+5
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,us,7.5
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,us,7.6
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,us,7.6
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,us,8.2
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,us,8.4

In [52]:
df["multiplied column"]= df["imdb+5"] *df["Runtime"]
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language,country,imdb+5,multiplied column
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,us,7.5,435.0
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,us,7.6,615.6
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,us,7.6,600.4
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,us,8.2,770.8
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,us,8.4,756.0

## making random numbers colum

In [56]:
df["random"] = np.random.randint(1,100,size=len(df))
df.head()

,Title,Genre,Premiere,Runtime,IMDB Score,Language,country,imdb+5,multiplied column,random
0,Enter the Anime,Documentary,"August 5, 2019",58,2.5,English/Japanese,us,7.5,435.0,27
1,Dark Forces,Thriller,"August 21, 2020",81,2.6,Spanish,us,7.6,615.6,48
2,The App,Science fiction/Drama,"December 26, 2019",79,2.6,Italian,us,7.6,600.4,32
3,The Open House,Horror thriller,"January 19, 2018",94,3.2,English,us,8.2,770.8,50
4,Kaali Khuhi,Mystery,"October 30, 2020",90,3.4,Hindi,us,8.4,756.0,58