In [14]:
print("hello world")

hello world

In [15]:
pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pandas in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (from pandas) (2.3.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.13/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /home/rohan_bhxtia/.local/lib/python3.13/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

## SERIES

In [16]:
import pandas as pd

In [17]:
data = [1,2,3,4,5]
s = pd.Series(data)

print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [18]:
# with dictionary 

dict = {"a":12,"b":13,"c":34}
s = pd.Series(dict)
print(s)

a    12
b    13
c    34
dtype: int64

In [19]:
#series iwth custom index

col1 =  [1,2,3,4,5]
col2 = ["hihi","huhu","heyhey","haha","htht"]

s = pd.Series(col2,index=col1)
print(s)

1      hihi
2      huhu
3    heyhey
4      haha
5      htht
dtype: object

In [20]:
type(s)

pandas.core.series.Series

## DATAFRAME

In [12]:
# 2d means which has rows and columns ... in pandas ,Data frame is a chunk of dataset or can be a entire dataset.
# in pandas , 2d array is called a DATAFRAME

In [21]:
a = {
    "Name":["ROhan","Anjali","Jarvis"],
    "class":[11,12,11],
    "age":[22,22,21]
    }
s= pd.DataFrame(a)
print(s)

     Name  class  age
0   ROhan     11   22
1  Anjali     12   22
2  Jarvis     11   21